<a href="https://colab.research.google.com/github/baker371/Drug-Discovery/blob/main/Malaria%20Drug%20Discovery/Malaria_Drug_Discovery_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Machine Learning model to predict Malaria Treatment using target data from ChEMBL Database

### Data Collection

In [70]:
# Package to retrieve bioactivity data from the ChEMBL Database.

#! pip install chembl_webresource_client

In [71]:
import pandas as pd
import numpy as np

from chembl_webresource_client.new_client import new_client

import warnings
warnings.filterwarnings('ignore')

In [72]:
# Target search for Malaria
target = new_client.target
target_query = target.search('Plasmodium malariae')
targets = pd.DataFrame.from_dict(target_query)
targets

   cross_references  ...  tax_id
0                []  ...    5858
1                []  ...    9606
2                []  ...    5833
3                []  ...    5821
4                []  ...    5861
5                []  ...    5827
6                []  ...    5825
7                []  ...    5850
8                []  ...    5855
9                []  ...    5849
10               []  ...    5860
11               []  ...   54757
12               []  ...   73239
13               []  ...   31274
14               []  ...  138298
15               []  ...   36329
16               []  ...  478860
17               []  ...    5843
18               []  ...  186763
19               []  ...    5839

[20 rows x 9 columns]

In [73]:
# Randomly selecting different and testing out with different targets

selected_target = 'CHEMBL2366922'

In [74]:
# Retrieve bioactivity data for selected target with reported IC50 values

activity = new_client.activity
res = activity.filter(target_chembl_id=selected_target).filter(standard_type="IC50")
dfn = pd.DataFrame.from_dict(res)
dfn.head(5)

  activity_comment  activity_id  ... upper_value value
0             None     12393147  ...        None  22.3
1             None     12393154  ...        None  50.0
2             None     12393161  ...        None  50.0
3             None     12393168  ...        None   8.5
4             None     12393175  ...        None   6.2

[5 rows x 45 columns]

In [75]:
selection = ['molecule_chembl_id', 'canonical_smiles', 'standard_value']
dfm = dfn[selection]
dfm.head(5)

  molecule_chembl_id  ... standard_value
0           CHEMBL76  ...         0.0223
1      CHEMBL2237985  ...           50.0
2      CHEMBL2234257  ...           50.0
3      CHEMBL2237984  ...            8.5
4      CHEMBL2237983  ...            6.2

[5 rows x 3 columns]

In [76]:
dfm.dtypes

molecule_chembl_id    object
canonical_smiles      object
standard_value        object
dtype: object

In [77]:
dfm["standard_value"] = pd.to_numeric(dfm["standard_value"])

In [78]:
dfm.dtypes

molecule_chembl_id     object
canonical_smiles       object
standard_value        float64
dtype: object

In [79]:
# create a list of our conditions
conditions = [
    (dfm['standard_value'] >= 10000),
    (dfm['standard_value'] > 1000) & (dfm['standard_value'] <= 9999),
    (dfm['standard_value'] <= 1000)
    ]

# create a list of the values we want to assign for each condition
values = ['Inactive','Intermediate', 'Active']

dfm['bioactivity_class'] = np.select(conditions, values)

# display updated DataFrame
dfm.head(5)

  molecule_chembl_id  ... bioactivity_class
0           CHEMBL76  ...            Active
1      CHEMBL2237985  ...            Active
2      CHEMBL2234257  ...            Active
3      CHEMBL2237984  ...            Active
4      CHEMBL2237983  ...            Active

[5 rows x 4 columns]

In [80]:
dfm.shape

(1688, 4)

In [81]:
# dropping ALL duplicate molecule_chembl_id	values
dfm.drop_duplicates(subset ="molecule_chembl_id",
                     keep = False, inplace = True)

In [82]:
df = dfm[dfm.standard_value.notna()]

In [83]:
df.shape

(1320, 4)

In [84]:
df.to_csv('bioactive_data.csv', index=False)

In [85]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [86]:
! cp bioactive_data.csv "/content/gdrive/My Drive/Colab Notebooks/data"